@import url('https://fonts.googleapis.com/css?family=Khula|Raleway|Droid+Serif');

html {
  background: black;
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
  }
  a,
  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  p {
    text-indent: 30px;
  }
  * {
    font-family: "Raleway";
    font-size: 18px;
    color: white;
  }
  #main-container {
    background: url("./images/plant.jpeg");
    background-position: center;
    background-size: cover;
    height: 750px;
    #nav {
      text-align: center;
      background: rgba(0, 0, 0, .7);
      #nav-header {
        font-family: "Droid Serif";
        font-size: 45px;
        margin-top: 20px;
        -webkit-transition: color .8s;
        -moz-transition: color .8s;
        -ms-transition: color .8s;
        -o-transition: color .8s;
        transition: color .8s;
      }
      #nav-header:hover {
        color: orange;
      }
      #nav-subheader {
        color: orange;
        font-family: "Raleway";
        font-size: 25px;
        margin-bottom: 20px;
      }
      .nav-link {
        font-size: 18px;
        -webkit-transition: text-shadow .5s;
        -moz-transition: text-shadow .5s;
        -ms-transition: text-shadow .5s;
        -o-transition: text-shadow .5s;
        transition: text-shadow .5s;
        .active {
          color: orange;
        }
      }
      .nav-link:hover {
        text-shadow: 0 0 10px white;
      }
      #nav-link-about {
      }
      #nav-link-portfolio {
      }
      #nav-link-blog {
      }
      #nav-link-contact {
      }
    }
    .content-section {
      .section-box {
        background: rgba(0, 0, 0, .8);
        padding: 70px;
        margin-top: 50px;
        .section-header {
          color: orange;
          font-family: "Droid Serif";
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
    }
    .hidden {
      display: none;
    }
    #about {
    }
    #portfolio {
    }
    #blog {
    }
    #contact {
    }
  }
}
