@import url("https://fonts.googleapis.com/css?family=Montserrat");
html * {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: white;
  letter-spacing: -1.3px;
  word-spacing: 12px;
  text-shadow: -1px 1px 12px #00515C;
  -webkit-font-smoothing: antialiased; }

html {
  background: #00515C; }
  html .section {
    box-shadow: -3px 1px 8px black;
    background: rgba(255, 255, 255, 0.25);
    width: 1400px;
    margin: 20px auto 0 auto;
    overflow: hidden;
    margin-bottom: 10px; }
    html .section .center {
      margin: 0 auto;
      width: 1310px;
      text-align: center;
      padding: 40px; }
    html .section .bar {
      height: 6px;
      width: 200px;
      background: #BDBBB6;
      border-radius: 4px;
      margin: 50px auto 50px auto;
      box-shadow: -1px 1px 12px #00515C; }
  html #main-title {
    height: 500px;
    padding: 100px 0; }
    html #main-title #frame {
      box-shadow: -1px 1px 4px black;
      float: left;
      margin: 100px 0 0 120px;
      background: lightgrey;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      padding: 10px;
      border: 10px solid #A3A29D; }
      html #main-title #frame img {
        width: 250px;
        height: 250px; }
    html #main-title #title-container {
      text-align: center;
      height: 500px;
      width: 900px;
      margin: 0 0 0 400px; }
      html #main-title #title-container h1 {
        letter-spacing: -2px;
        font-size: 80px;
        margin: 20px 0; }
      html #main-title #title-container h2 {
        letter-spacing: -2px;
        font-size: 50px;
        margin: 20px 0; }
      html #main-title #title-container h3 {
        font-size: 25px; }
      html #main-title #title-container #contact-links {
        margin: 50px auto;
        width: 304px; }
        html #main-title #title-container #contact-links .contact-link {
          margin: 0 8px;
          float: left;
          width: 60px;
          height: 60px;
          background: white;
          border-radius: 50%;
          box-shadow: -3px 1px 8px black; }
        html #main-title #title-container #contact-links #github {
          background-image: url("images/GitHub.png");
          background-size: 63px 63px;
          background-position: center; }
        html #main-title #title-container #contact-links #linkedin {
          background-image: url("images/LinkedIn.png");
          background-size: 60px 60px;
          background-position: center; }
        html #main-title #title-container #contact-links #twitter {
          background-image: url("images/Twitter.png");
          background-size: 53px 53px;
          background-position: center; }
        html #main-title #title-container #contact-links #email {
          background-image: url("images/email.png");
          background-size: 62px 62px;
          background-position: center; }
  html #about-me h2 {
    font-size: 70px; }
  html #about-me p {
    font-size: 25px;
    margin: 0 40px 40px 40px;
    line-height: 40px; }
  html #portfolio h2 {
    font-size: 70px; }
  html #portfolio .showcase {
    float: left;
    background: #00515C;
    border: 3px solid #BDBBB6;
    width: 444px;
    height: 700px;
    margin: 100px; }
    html #portfolio .showcase h6 {
      margin: 20px 10px 0 10px;
      font-size: 30px;
      word-spacing: normal;
      text-shadow: -1px 1px 12px black; }
    html #portfolio .showcase img {
      width: 90%;
      border: 2px solid #BDBBB6;
      margin: 25px auto; }
    html #portfolio .showcase .showcase-info {
      width: 90%;
      margin: 0 auto; }
      html #portfolio .showcase .showcase-info button {
        width: 80px;
        height: 40px;
        background: #ffffff;
        background-color: #1FB244;
        font-size: 18px;
        margin-bottom: 20px; }
      html #portfolio .showcase .showcase-info button:hover {
        background-color: #1A9137; }
      html #portfolio .showcase .showcase-info p {
        word-spacing: 6px;
        font-size: 24px; }
  html #contact-info {
    margin-bottom: 100px; }
    html #contact-info h2 {
      font-size: 70px; }
    html #contact-info a {
      display: block;
      font-size: 40px;
      text-decoration: none;
      margin: 20px 0 0 0; }
    html #contact-info a:hover {
      text-decoration: underline; }
    html #contact-info h6 {
      font-weight: normal;
      font-size: 40px;
      margin: 40px 0; }

@media only screen and (max-width: 1024px) {
  html .section {
    width: 700px; }
    html .section .center {
      width: 600px; }
  html #main-title {
    height: 800px;
    padding: 50px 0; }
    html #main-title #frame {
      float: none;
      margin: 0 auto; }
    html #main-title #title-container {
      width: 700px;
      margin-left: 0; }
  html #portfolio .showcase {
    margin: 50px 75px; } }

/*# sourceMappingURL=styles.css.map */
