@import url("https://fonts.googleapis.com/css?family=Khula|Raleway|Droid+Serif");
html {
  background: black; }
  html * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: white; }
  html a,
  html a:hover,
  html a:visited,
  html a:link,
  html a:active {
    text-decoration: none;
    color: white;
    cursor: pointer; }
  html .colored {
    color: orange; }
  html #main-container {
    background: url("./images/plant.jpeg");
    background-position: top;
    background-size: cover;
    height: 894px; }
    @media screen and (max-width: 800px) {
      html #main-container {
        height: auto;
        background: grey; } }
    html #main-container #nav {
      text-align: center;
      background: rgba(0, 0, 0, 0.7); }
      html #main-container #nav #nav-header {
        font-family: "Droid Serif";
        font-size: 45px;
        margin-top: 20px;
        -webkit-transition: color .8s;
        -moz-transition: color .8s;
        -ms-transition: color .8s;
        -o-transition: color .8s;
        transition: color .8s; }
      html #main-container #nav #nav-header:hover {
        color: orange; }
      html #main-container #nav #nav-subheader {
        color: orange;
        font-family: "Raleway";
        font-size: 25px;
        margin-bottom: 20px; }
      html #main-container #nav .nav-link {
        font-size: 18px;
        -webkit-transition: text-shadow .5s;
        -moz-transition: text-shadow .5s;
        -ms-transition: text-shadow .5s;
        -o-transition: text-shadow .5s;
        transition: text-shadow .5s; }
      html #main-container #nav .active-nav {
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -ms-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
        color: orange; }
      html #main-container #nav .active-nav:hover {
        text-shadow: none !important; }
      html #main-container #nav .nav-link:hover {
        text-shadow: 0 0 10px white; }
    html #main-container .content-section .section-box {
      background: rgba(0, 0, 0, 0.8);
      padding: 70px;
      margin: 30px 0; }
      @media screen and (max-width: 800px) {
        html #main-container .content-section .section-box {
          padding: 10px; } }
    html #main-container .hidden {
      display: none; }
    html #main-container #about .about-card {
      margin-bottom: 30px; }
      @media screen and (max-width: 800px) {
        html #main-container #about .about-card {
          display: flex;
          flex-flow: column nowrap;
          text-align: center; }
          html #main-container #about .about-card p,
          html #main-container #about .about-card span {
            font-size: 16px; } }
      html #main-container #about .about-card .about-image {
        height: 170px;
        border-radius: 10%;
        margin: 0 10px; }
        @media screen and (max-width: 800px) {
          html #main-container #about .about-card .about-image {
            margin: 10px auto; } }
    html #main-container #about #about-card-1 .about-image {
      float: left; }
    html #main-container #about #about-card-2 .about-image {
      float: right; }
    html #main-container #blog {
      text-align: center; }
      html #main-container #blog p,
      html #main-container #blog a {
        font-size: 30px;
        -webkit-transition: color .8s;
        -moz-transition: color .8s;
        -ms-transition: color .8s;
        -o-transition: color .8s;
        transition: color .8s; }
        html #main-container #blog p .small,
        html #main-container #blog a .small {
          font-size: 15px; }
      html #main-container #blog a:hover {
        color: orange; }
      html #main-container #blog #medium-logo {
        background: white;
        padding: 40px;
        margin: 20px;
        -webkit-transition: box-shadow .8s;
        -moz-transition: box-shadow .8s;
        -ms-transition: box-shadow .8s;
        -o-transition: box-shadow .8s;
        transition: box-shadow .8s; }
        @media screen and (max-width: 800px) {
          html #main-container #blog #medium-logo {
            width: 200px;
            padding: 27px; } }
      html #main-container #blog #medium-logo:hover {
        box-shadow: 0 0 30px orange; }
    html #main-container #contact .contact-info {
      text-align: center;
      margin: 20px;
      font-size: 22px; }
    html #main-container #contact .method {
      color: orange; }
      @media screen and (max-width: 800px) {
        html #main-container #contact .method {
          font-size: 18px; } }
    html #main-container #contact .contact-link-outer-div {
      height: 100px;
      background: rgba(255, 255, 255, 0.2); }
      @media screen and (max-width: 800px) {
        html #main-container #contact .contact-link-outer-div {
          background: none; } }
      html #main-container #contact .contact-link-outer-div .contact-link-div {
        -webkit-transition: box-shadow .7s;
        -moz-transition: box-shadow .7s;
        -ms-transition: box-shadow .7s;
        -o-transition: box-shadow .7s;
        transition: box-shadow .7s;
        background: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 20px auto; }
        @media screen and (max-width: 800px) {
          html #main-container #contact .contact-link-outer-div .contact-link-div {
            width: 25px;
            height: 25px; } }
        html #main-container #contact .contact-link-outer-div .contact-link-div .contact-link {
          width: 105%;
          height: 105%;
          margin-left: -2.5%;
          margin-top: -2.5%; }
          @media screen and (max-width: 800px) {
            html #main-container #contact .contact-link-outer-div .contact-link-div .contact-link {
              margin-top: -10px; } }
      html #main-container #contact .contact-link-outer-div .contact-link-div:hover {
        box-shadow: 0 0 30px 0 white; }

/*# sourceMappingURL=styles.css.map */
